* {
  box-sizing: border-box;
}

.container-flex-row {
  display: flex;
  flex-direction: row;
}

.container-flex-col {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.ac {
  align-items: center;
}

.as {
  align-items: flex-start;
}

.ae {
  align-items: flex-end;
}

.jc {
  justify-content: center;
}

.js {
  justify-content: flex-start;
}

.je {
  justify-content: flex-end;
}

.jb {
  justify-content: space-between;
}

.ja {
  justify-content: space-around;
}

.gap5 {
  gap: 5px;
}

.gap15 {
  gap: 15px;
}

.bold {
  font-weight: bold;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1024px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (max-width: 768px) {
  .news-container {
    grid-template-columns: repeat(1, 1fr);
  }
  
}

.container {
  padding: 10px 5vw;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.padding10 {
  padding: 10px;
}

.card a {
  text-decoration: none;
}

.card:hover {
  cursor: pointer;

}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}